// Addition
.addition__wrapper {
  @media (min-width: $desktop-width) {
    width: 1220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 85px;
  }
}

.addition__products-list {
  width: 280px;
  display: block;
  padding: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 708px;
    border-top: 0;
    border-bottom: 0;
    border-left: solid 1px #d9d9d9;
    border-right: solid 1px #d9d9d9;
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    border-left: 0;
    border-right: 0;
    width: 896px;
  }
}

.addition__product {
  position: relative;

  @media (min-width: $tablet-width) {
    .button--product-order {
      width: 632px;
    }
  }

  @media (min-width: $desktop-width) {
    .button--product-order {
      width: 244px;
    }
  }
}

.addition__label {
  margin-top: 0;
  padding: 0;
  margin-bottom: 30px;
  border: 0;
}

.addition__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  position: relative;
  display: inline-block;


  @media (min-width: $tablet-width) {
    font-size: 36px;
    margin-bottom: 80px;
  }


  &--catalog {
    margin-top: 23px;
    margin-left: 20px;
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      margin-left: 36px;
      margin-bottom: 79px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 0;
      margin-bottom: 80px;
    }
  }

  &--form {
    margin-top: 0;
    // margin-left: -18px;
    margin-bottom: 27px;
  }

  @include line-title;
}
