
.address {
  width: 139px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $basicGrayColor;

  @media (min-width: $tablet-width) {
    width: 160px;
    text-align: right;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.address__name {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 1em;
  }
}
