// Application Form
.application-form {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    width: 628px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-bottom: 82px;
  }
}

.application-form__program-selection {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.application-form__contact-details {
  padding: 0 20px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.application-form__comment {
  margin-bottom: 23px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.application-form__addition {
  padding: 0 18px;
  margin-bottom: 25px;
  border: 0;
}

.application-form__required-field {
  vertical-align: baseline;
  line-height: 0;
}
