// Application Form
.application-form {
  width: 280px;
  display: flex;
  flex-direction: column;
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    width: 628px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-bottom: 82px;
  }
}

.application-form__program-selection {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.application-form__contact-details {
  padding: 0;
  margin-bottom: 24px;
}

.application-form__comment {
  margin-bottom: 23px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.application-form__addition {
  padding: 0;
  margin-bottom: 32px;
}

.application-form__required-fields {
  width: 180px;
}
