
.button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-decoration: none;
  box-sizing: border-box;
  width: 280px;
  height: 40px;
  color: $whiteColor;
  background-color: $greenColor;

  &--product-order {
    @media (min-width: $tablet-width) {
      width: 248px;
    }

    @media (min-width: $desktop-width) {
      width: 168px;
    }
  }

  &--program-selection {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &--form-submit {
    margin-bottom: 21px;

    @media (min-width: $desktop-width) {
      width: 568px;
      margin-bottom: 0;
    }
  }
}
