.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-decoration: none;
  box-sizing: border-box;
  width: 280px;
  height: 40px;
  color: $whiteColor;
  text-transform: uppercase;
  background-color: $greenColor;
  border: 0;
  padding: 0;
  cursor: pointer;

  &--main-services {
    height: 38px;
    position: relative;
    padding-top: 4px;
    padding-right: 47px;
    padding-bottom: 4px;
    color: $blackColor;
    background-color: inherit;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    vertical-align: baseline;

    &::after {
      content: "";
      position: absolute;
      top: 10px;
      right: 8px;
      width: 24px;
      height: 12px;
      background-image: url("../img/servises/icon-services-arrow.svg");
      background-repeat: no-repeat;
      background-size: 24px 12px;

      @media (min-width: $tablet-width) {
        top: 14px;
      }
    }

    &:hover::after {
      width: 32px;
      right: 0;
      background-size: 32px 12px;
      background-image: url("../img/servises/services-arrow-long.svg");
    }


    &:active {
      opacity: 0.3;
    }

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 1.5;
      padding-right: 58px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 60px;
    }
  }

  &--product-order {
    font-size: 16px;
    line-height: 1.25;

    @media (min-width: $tablet-width) {
      width: 248px;
      font-size: 16px;
      line-height: 1.25;
    }

    @media (min-width: $desktop-width) {
      width: 168px;
      margin-left: 4px;
    }

    &:hover {
      background-color: $greenHover;
    }

    &:active {
      color: rgba($whiteColor, 0.3);
    }
  }

  &--product-show-more {
    font-size: 16px;
    line-height: 1.25;
    color: $basicGrayColor;
    background-color: $bgGrayColor;

    @media (min-width: $tablet-width) {
      margin-top: 64px;
      width: 248px;
    }

    @media (min-width: $desktop-width) {
      width: 168px;
    }

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba($basicGrayColor, 0.3);
    }
  }


  &--program-selection {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 1;
      width: 244px;
      height: 54px;
      padding-top: 17px;
    }

    &:hover {
      background-color: $greenHover;
    }

    &:active {
      color: rgba($whiteColor, 0.3);
    }
  }

  &--form-submit {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 21px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      width: 282px;
      height: 52px;

      font-size: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 568px;
    }

    &:hover {
      background-color: $greenHover;
    }

    &:active {
      color: rgba($whiteColor, 0.3);
    }
  }
}
