
.button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-decoration: none;

  color: $whiteColor;
  background-color: $greenColor;

  &--product-order {
    width: 280px;

    @media (min-width: $tablet-width) {
      width: 248px;
    }

    @media (min-width: $desktop-width) {
      width: 168px;
    }
  }
}
