// Catalog

.catalog__products-list {
  box-sizing: border-box;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  list-style-type: none;
  border-top: solid 1px #d9d9d9;
  border-bottom: solid 1px #d9d9d9;

  @media (min-width: $tablet-width) {
    display: grid;
    width: 708px;
    padding: 0;
    border: 0;
    grid-template-columns: 324px 324px;
    column-gap: 60px;
    row-gap: 60px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 63px;
    margin-bottom: 54px;
  }
}

.catalog__product {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 209px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 324px;
    min-height: 511px;
    justify-content: flex-start;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 39px;

    &:not(:last-child)::after {
      position: absolute;
      content: "";
      width: 324px;
      height: 430px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-color: $bgGrayColor;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-left: 35px;
    padding-right: 32px;

    &:not(:last-child)::after {
      width: 245px;
    }
  }

  &--more-product {
    padding: 0;
    justify-content: flex-end;
  }
}

.catalog__product:not(:first-child) {
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      @include visually-hidden();
    }
  }
}

.catalog__product-wrapper {
  box-sizing: border-box;
  height: 208px;

  @media (min-width: $tablet-width) {
    padding-top: 52px;
    padding-left: 36px;
    padding-right: 38px;
    height: 430px;
    border: solid 2px $bgGrayColor;
  }
}

.catalog__title {
  margin-top: 27px;
  margin-bottom: 40px;
  margin-left: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 83px;
    font-size: 60px;
  }
}
