.checkbox-buttons {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $blackColor;
}

.checkbox-buttons__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 221px 221px;
    row-gap: 25px;
    column-gap: 123px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 221px 221px 221px 221px;
    column-gap: 104px;
    row-gap: 32px;
  }
}

.checkbox-buttons__item {
  min-height: 40px;

  &:not(:last-child) {
    margin-bottom: 2px;
  }
}

.checkbox-buttons__control {
  padding-bottom: 5px;
}

.checkbox-buttons__label {
  padding-left: 46px;

  @media (min-width: $tablet-width) {
    padding-left: 59px;
    margin-top: 6px;
  }
}
