// Comment
.comment {
  border: none;
  margin-left: 0;
  margin-right: 0;
  width: 280px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 628px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.comment__label {
  margin-bottom: 38px;
  padding: 0;
}

.comment__title {
  position: relative;
  margin: 0;

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.08;

  @include line-title;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
  }
}

.comment__input-field {
  margin: 0;
}
