// Copyright

.copyright {
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 34px;

  color: $basicGrayColor;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 163px;
  }

  &:hover {
    .copyright__icon {
      color: $greenColor;
    }
  }

  &:active {
    .copyright__icon {
      color: rgba($greenColor, 0.3);
    }

    .copyright__name {
      opacity: 0.3;
    }
  }
}

.copyright__name {
  margin-top: 6px;
}

.copyright__icon {
  color: #666666;
}
