// Example Slider
.example-slider {
  width: 280px;
  height: 256px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.example-slider__image {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 280px;
  height: 256px;
  background-size: 280px 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    background-size: 560px 512px;
  }

  &--foreground {
    margin-left: 50%;
    width: 50%;
    background-image: url("../img/example-slider/mobile-only/cat-skinny@1x.png");
    background-position: 100% 0;

    @media (min-width: $tablet-width) {
      background-image: url("../img/example-slider/cat-skinny@1x.png");
    }
  }

  &--background {
    background-image: url("../img/example-slider/mobile-only/cat-fat@1x.png");
    width: 50%;

    @media (min-width: $tablet-width) {
      background-image: url("../img/example-slider/cat-fat@1x.png");
    }
  }
}

@media (min-resolution: 2dppx) {
  .example-slider__image {
    &--foreground {
      background-image: url("../img/example-slider/mobile-only/cat-skinny@2x.png");

      @media (min-width: $tablet-width) {
        background-image: url("../img/example-slider/cat-skinny@2x.png");
      }
    }

    &--background {
      background-image: url("../img/example-slider/mobile-only/cat-fat@2x.png");

      @media (min-width: $tablet-width) {
        background-image: url("../img/example-slider/cat-fat@2x.png");
      }
    }
  }
}

.example-slider__slider-button {
  position: relative;
  left: calc(50% - 20px);
}
