
.input-field {
  display: flex;
  flex-direction: row;
  font-family: "Oswald", sans-serif;
  color: $basicGrayColor;
  height: 46px;
  width: auto;
}

.input-field__input {
  padding: 0;
  margin: 0;
}

.input-field__label {
  box-sizing: border-box;
  margin-top: auto;
  margin-right: 13px;
  margin-bottom: auto;
  white-space: nowrap;
  height: 18px;
  vertical-align: top;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-right: 10px;
  }

  @media (min-width: deskot-width) {
    margin-right: 14px;
  }
}

.input-field__required-field {
  vertical-align: baseline;
  line-height: 0;
}
