.input-field {
  display: flex;
  position: relative;
  flex-direction: row;
  font-family: "Oswald", sans-serif;
  color: $basicGrayColor;
  height: 46px;
  width: auto;
}

.input-field__input {
  padding: 0;
  margin: 0;
}

.input-field__label {
  box-sizing: border-box;
  margin-top: auto;

  margin-right: 15px;
  margin-bottom: auto;
  white-space: nowrap;
  height: 18px;
  vertical-align: top;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    margin-right: 19px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1.5;


    // &--program-selection  {

    // }
  }

  @media (min-width: deskot-width) {
    margin-right: 14px;
  }
}

.input-field__icon {
  position: absolute;
  color: $secondaryGrayColor;
  right: 16px;

  &--email {
    top: 16px;
  }

  &--tel {
    top: 14px;
  }

  @media (min-width: $tablet-width) {
    right: 18px;

    &--email {
      top: 18px;
    }

    &--tel {
      top: 16px;
    }
  }
}
