// Main Explanations
.main-explanations {
  margin-bottom: 49px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    width: 1220px;
  }
}

.main-explanations__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 280px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 150px 150px;
    row-gap: 37px;
    column-gap: 137px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

