// Main Example
.main-example {
  position: relative;
  width: 320px;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding-top: 43px;
    padding-bottom: 101px;
    border-top: solid 1px  #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding-top: 0;
    padding-bottom: 75px;
    display: flex;
    flex-direction: row;
    border-top: 0;
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
    z-index: -1;

    @media (min-width: $tablet-width) {
      height: 462px;
    }

    @media (min-width: $desktop-width) {
      top: 136px;
      height: auto;
    }
  }
}

.main-example__statistics {
  margin-left: auto;
  margin-right: auto;
}

.main-example__slider {
  margin-left: auto;
  margin-right: auto;
}
