// <<< Page Header >>>
// Page header
.page-header {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    flex-direction: row;
    margin-top: 53px;
  }
}


.page-header__container {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.page-header__logo {
  box-sizing: border-box;
  height: 38px;
  width: 190px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 17px;
  padding-top: 13px;
  padding-left: 90px;
  padding-bottom: 7px;
  background-image: url("../img/logos/icon-logo-mobile.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
    padding-top: 19px;
    padding-left: 71px;
    padding-bottom: 14px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
    padding-top: 22px;
    padding-left: 84px;
    padding-bottom: 16px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

