// Program Selection
.program-selection {
  border: none;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 628px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: grid;
    grid-template-columns: 568px 568px;
    gap: 80px;
  }
}

.program-selection__inputs {
  display: flex;
  flex-direction: column;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.program-selection__radio-buttons {
  margin-top: 22px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
