// Program Selection
.program-selection {
  border: none;
  width: 320px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    width: 628px;
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: grid;
    grid-template-columns: 568px 568px;
    gap: 80px;
    margin-bottom: 69px;
  }
}

.program-selection__inputs-list {
  margin: 0;
  padding: 0 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 27px;
  border-bottom: solid 1px #d9d9d9;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
    border-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.program-selection__inputs-item:not(:last-child) {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.program-selection__radio-buttons {
  padding: 20px;
  border-bottom: solid 1px #d9d9d9;

  @media (min-width: $tablet-width) {
    margin: 0;
    border-bottom: 0;
  }
}
