// Promo
.promo {
  width: 320px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    min-height: 696px;
  }
}

.promo__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("../img/promo/promo_cat.jpg");
  background-size: 320px 302px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background: none;
    width: 708px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 1330px;
    padding-top: 200px;
    margin-top: -200px;
    z-index: -1;
    background-image: url("../img/promo/promo_cat.jpg");
    background-size: 720px 696px;
    background-repeat: no-repeat;
    background-position-x: right;
  }
}


.promo__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $whiteColor;

  @media (min-width: $tablet-width) {
    color: $blackColor;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    margin-left: 87px;
  }

  @media (min-width: $desktop-width) {
    color: $blackColor;
    font-size: 60px;
    line-height: 60px;
    max-width: 420px;
    margin-bottom: 40px;
  }
}

.promo__slogan {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $whiteColor;
  text-transform: uppercase;
  height: 14px;

  @media (min-width: $tablet-width) {
    color: $blackColor;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__image {
  order: 3;

  @media (min-width: $tablet-width) {
    order: 4;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    margin-left: 558px;
  }
}

.promo__button {
  order: 4;

  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    margin-left: 90px;
    margin-bottom: 185px;
  }
}
