// Promo
.promo {
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin-bottom: 82px;
  }
}

.promo__picture {
  @media (min-width: $desktop-width) {
    position: absolute;
  }
}

.promo__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: linear-gradient(rgba($greenColor, 0.85), rgba($greenColor, 0.85)), url("../img/promo/mobile/promo-cat-size-small@1x.jpg");
  background-size: 320px 302px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background: none;
    width: 708px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    width: $desktop-width;
    min-height: 696px;
    padding-top: 200px;
    padding-left: 110px;
    margin-top: -180px;
    background-image: linear-gradient(rgba($greenColor, 0.85), rgba($greenColor, 0.85)), url("../img/promo/desktop/promo-cat-size-big@1x.jpg");
    background-size: 720px 696px;
    background-repeat: no-repeat;
    background-position-x: right;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba($greenColor, 0.85), rgba($greenColor, 0.85)), url("../img/promo/desktop/promo-cat-size-big@2x.jpg");
    }
  }
}

@media (min-resolution: 2dppx) {
  .promo__wrapper {
    background-image: linear-gradient(rgba($greenColor, 0.85), rgba($greenColor, 0.85)), url("../img/promo/mobile/promo-cat-size-small@2x.jpg");

    @media (min-width: $tablet-width) {
      background: none;
    }

    @media (min-width: $desktop-width) {
      background-image: linear-gradient(rgba($greenColor, 0.85), rgba($greenColor, 0.85)), url("../img/promo/desktop/promo-cat-size-big@2x.jpg");
      background-size: 720px 696px;
      background-repeat: no-repeat;
      background-position-x: right;
    }
  }
}

.promo__title {
  margin-top: 27px;
  margin-bottom: 25px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $whiteColor;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 41px;
    padding-left: 90px;
    padding-right: 200px;
    color: $blackColor;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    max-width: 420px;
    margin-top: 36px;
    margin-bottom: 40px;
    color: $blackColor;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__slogan {
  margin-top: 0;
  margin-bottom: 29px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $whiteColor;
  text-transform: uppercase;
  height: 14px;

  @media (min-width: $tablet-width) {
    height: 20px;
    padding-left: 90px;
    color: $blackColor;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__image {
  order: 3;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    order: 4;
    margin-left: 59px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    margin-left: 448px;
  }
}

.promo__button {
  order: 4;
  margin-top: -7px;

  @media (min-width: $tablet-width) {
    order: 3;
    margin-left: 90px;
    position: absolute;
    top: 229px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 90px;
    position: relative;
    top: 0;
  }
}
