// Radio Buttons
.radio-buttons {
  width: 280px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 630px;
    padding-top: 25px;
    padding-left: 27px;
    padding-right: 37px;
    padding-bottom: 23px;
    border: solid 1px #e7e7e7;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.radio-buttons__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.radio-buttons__item {
  min-height: 30px;
  margin-bottom: 13px;

  // @media (min-width: $tablet-width) {
  //   margin-bottom: 22px;
  // }

  &:last-child {
    margin-bottom: 0;
  }
}

.radio-buttons__control {
  padding-left: 46px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}
