
.service-card {
  position: relative;
  background-color: $bgGrayColor;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 18px;
  width: 280px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    padding-top: 77px;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 56px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    padding-bottom: 55px;
    width: 570px;
  }
}

.service-card--weight-loss::before {
  position: absolute;
  content: "";
  top: 21px;
  left: 22px;
  width: 50px;
  height: 53px;
  background-image: url("../img/servises/cat-weight-loss.svg");
  background-repeat: no-repeat;
  background-size: 50px 53px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
    top: 79px;
    left: 446px;
    background-size: 200px 211px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
    top: 41px;
    left: 52px;
    background-size: 100px 106px;
  }
}

.service-card--weight-gain::before {
  position: absolute;
  content: "";
  top: 24px;
  left: 13px;
  width: 67px;
  height: 53px;
  background-image: url("../img/servises/cat-weight-gain.svg");
  background-repeat: no-repeat;
  background-size: 67px 53px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    top: 91px;
    left: 411px;
    background-size: 268px 200px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
    top: 47px;
    left: 33px;
    background-size: 134px 100px;
  }
}

.service-card__title {
  margin-top: 0;
  margin-bottom: 29px;
  padding-left: 71px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin-bottom: 73px;
  }
}

.service-card__description {
  position: relative;
  margin-top: 0;
  margin-bottom: 40px;
  padding-right: 33px;
  color: $basicGrayColor;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;

  &::after {
    @media (max-width: $mobile-only) {
      content: "";
      position: absolute;
      bottom: -23px;
      left: 0;
      width: 240px;
      height: 1px;
      background-color: #d9d9d9;
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 340px;
    font-size: 16px;
    line-height: 1.5;
    color: $blackColor;
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    margin-bottom: 23px;
    padding-right: 0;
  }
}
