// slider button
.slider-button {
  width: 40px;
  height: 256px;
  cursor: pointer;

  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 512px;
  }
}

.slider-button__icon {
  height: inherit;
  color: $darkGrayColor;
  transform: scale(2);

  @media (min-width: $tablet-width) {
    transform: scale(1);
  }

  &:hover {
    color: $greenColor;
  }

  &:active {
    color: rgba($greenHover, 0.6);
  }
}
