// Social Link
.social-link {
  display: block;
  width: 28px;
  height: 22px;
}

.social-link__icon {
  color: #666666;

  &:hover {
    color: $greenColor;
  }

  &:active {
    color: rgba($greenColor, 0.3);
  }
}
