.submit-block {
  max-width: 280px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 3px;
    max-width: 565px;
    flex-direction: row;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding-left: 1px;
  }
}

.submit-block__text {
  display: inline-block;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  align-self: center;
  margin-left: 5px;

  @media (min-width: $tablet-width) {
    margin-top: -3px;
    margin-left: 63px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 83px;
  }
}
