.submit-block {
  max-width: 280px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    max-width: 565px;
    flex-direction: row;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}

.submit-block__text {
  display: inline-block;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  align-self: center;

  @media (min-width: $tablet-width) {
    margin-left: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 81px;
  }
}
