@mixin line-title {
  &::after {
    position: absolute;
    content: "";
    left: calc(100% + 22px);
    top: 15px;
    width: 1000%;
    height: 2px;
    background-color: $greenColor;

    @media (min-width: $tablet-width) {
      top: 22px;
      left: calc(100% + 37px);
    }
  }


  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      right: calc(100% + 36px);
      top: 22px;
      width: 1000%;
      height: 2px;
      background-color: $greenColor;
    }

    @media (min-width: $desktop-width) {
      right: calc(100% + 36px);
    }
  }
}

.line-title {
  @include line-title;
}
