// <<< Colors >>>
$blackColor: #000000;
$whiteColor: #ffffff;
$greenColor: #68b738;
$greenHover: #5eaa2f;
$basicGrayColor: #444444;
$secondaryGrayColor: #222222;
$bgGrayColor: #f2f2f2;
$darkGrayColor: #666666;
$error: #ff8282;
